body{
    background-color: black;
    font-family: monospace;
}

/* ___________Colors_____________ */


/*
black
whitesmoke
#2E0000
#690000
#063a46
rgb(40, 94, 94)

*/
/* ________________________________________Интро анимация______________________________________________ */
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
}


.intrologo{
    z-index: 100;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    position: absolute;
    display: flex;

}

.vape{
    color: whitesmoke;
    padding-left: 2px;
    margin-left: 8px;
}

.pussy{
    color: brown;

}

.pussy li{
    float: left;
    list-style-type: none;
    animation: animate reverse 2s ;
}

.vape li{
    float: left;
    list-style-type: none;
    animation: animate  reverse 2s ;
}





@keyframes animate{
    0%{
        opacity: 1;
        transform: translateX(0px);
        filter: blur(1px);
    }

    100%{
        opacity: 0;
        transform: translateX(200px);
        filter: blur(50px);
        z-index: -100;
    }
} 

@keyframes animate2{
    0%{
        opacity: 1;
        transform: translateX(0px);
        filter: blur(1px);
    }

    100%{
        z-index: -100;
        opacity: 0;
        transform: translateX(-100px);
        filter: blur(50px);
    }
}

.pussy li:nth-child(1){
    animation-delay: .1s;
}
.pussy li:nth-child(2){
    animation-delay: .2s;
}
.pussy li:nth-child(3){
    animation-delay: .3s;
}
.pussy li:nth-child(4){
    animation-delay: .4s;
}
.pussy li:nth-child(5){
    animation-delay: .5s;
}

.vape li:nth-child(1){
    animation-delay: .6s;
}
.vape li:nth-child(2){
    animation-delay: .7s;
}
.vape li:nth-child(3){
    animation-delay: .8s;
}
.vape li:nth-child(4){
    animation-delay: .9s;
}

h1{
    color: whitesmoke;
}

.vopros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
    animation: animate reverse 3s;

}
.vopros .buttons {
    display: flex;
    gap: 10px;

}
.yes, .no {
    padding: 5px 7px;
    font-size: 18px;
    background: linear-gradient(to left, #000, #FF0000);
    background-size: 130%;
    border: 0.1px solid grey; 
    color: whitesmoke;
    border-radius: 2px;
    transition: 0.5s;
}
.yes:hover, .no:hover {
    background-position: left;
    background-size: 100%;
    transform: scale(1.2);

}



.warning{
    color: whitesmoke;
    font-size: 32px;
    z-index: 99;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/* _____________________________________Главная страница______________________________________ */


.all_content{
    display: none;
}

nav {
    background: linear-gradient(to right, #2E0000, #690000);
 
    padding: 40px 0;
    text-align: start;
    max-height: 50px;
    display: flex;
    justify-content: space-between; /* Распределить пространство между элементами по горизонтали */
    align-items: center; /* Отцентрировать элементы по вертикали */
    
}



.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    justify-content: space-between;
}

.navigation li {
    display: inline-block;
    margin-right: 20px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-color: #063a46;
    font-weight: bold;
    border: none;
    outline: 3px solid #222;
    padding: 7px 9px;
    outline-offset: -5px;
    border-radius: 5px;
    transition: 0.5s;
}

.navigation a:hover {
    background-color: rgb(40, 94, 94);
    outline-offset: 5px;
    outline-color:  rgb(40, 94, 94);
    
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}


.sidebar {
    background-color: #444;
    color: #fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    left: -250px;
    top: 0;
    transition: left 0.4s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #555;
}

.active .sidebar {
    left: 0;
}


                                                        /* catalog */

                                                        .product-card {
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5); 
    transition: box-shadow 0.3s ease-in-out; 
    border: 2px solid transparent; 
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: calc(20% - 20px); 
    margin: 20px;
    transition: 0.5s;
    position: relative;
    height: 450px;

}



.product-card:hover{
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7); 
    scale: 103%;
}

.product-card:hover .product-image {
    transform: scale(1.2);
}

.product-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}


.product-info {
    text-align: center;
    padding: 20px;
}

.product-title {
    font-size: 20px;
    margin: 0;
}

.product-description {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.add-to-cart {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #0056b3;
}  

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

 /* Еду в магазин гучи в сантк-петерсбурге */

.burger-menu {
    display: flex; /* Отобразить бургер-меню как flex-контейнер */
    align-items: center; /* Отцентрировать бургер по вертикали */
}

/* Стили для бургер-иконки (трех горизонтальных линий) */
.burger {
    width: 30px; /* Ширина иконки */
    height: 20px; /* Высота иконки */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer; /* Курсор меняется на указатель при наведении */
    margin-right: 13px;
}

.line {
    width: 100%; /* Ширина горизонтальных линий равна ширине родительской иконки */
    height: 3px; /* Высота горизонтальных линий */
    background-color: #fff; /* Цвет горизонтальных линий (настройте по своему усмотрению) */
}




.menu.active {
    display: block; /* Отображаем меню, когда есть класс 'active' */
    z-index: 9999; /* Также устанавливаем высокий z-index для активного меню */
    
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 5px;
}

.menu a {
    text-decoration: none;
    color: #f3efef;
}


/* Стили для выпадающего меню */
.menu {
    display: none;
    position: absolute;
    /* top: 20px;   */
    vertical-align: text-bottom;
    right: 20px;
    background-color: rgb(44, 43, 43);
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9998; /* Устанавливаем высокий z-index для меню */
    transform: translateX(100%);
    transition: transform 0.4s; /* Добавляем анимацию смещения */
    margin-top: 250px;
}

.menu.active {
    transform: translateX(0); /* При активации меню сдвигаем его обратно */
    z-index: 9999; /* Устанавливаем высокий z-index для активного меню */
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #f3efef;
}
